body{
    background-color: black;
}
img{
    max-height:512px;
    max-width:512px;
    min-width:256px;
    min-height:256px;
}
.ui{
    font-family: monospace;
    font-size: 14px;
}
#file{
    width:88px;
}
#consoleUI{
    overflow:auto;
    padding: 6px;
    width:99%;
    border: solid 1px black;
    max-height:384px;
    min-height:384px;
    margin:left;
    background:#FFFFFF;
    color:#000000;
}
#input{
    display:none;
}
.white{
    color: white;
}
