body{
    background-color: black;
}
img{
    max-height: 512px;
    max-width: 512px;
    min-width: 256px;
    min-height: 256px;
}
.ui{
    font-family: monospace;
    font-size: 14px;
}
#file{
    width:88px;
}
#consoleUI{
    overflow: auto;
    width: 99%;
    height: 512px;
    background-color: white;
    color: black;
}
#input{
    display:none;
}
.white{
    color: white;
}
